<div class="prl-grid prl-grid-divider">

<section id="main" class="prl-span-9">

  <div class="prl-homepage-widget">
    <h5 class="prl-block-title alizarin">Photography</h5>

    <ul class="prl-list-category">
      <li class="clearfix">
        <article class="prl-article">
          <a class="prl-thumbnail left" href="#">
            <div class="prl-overlay">
              <%= image_tag "p/1.jpg" ,:width=>"260" ,:alt=> "test" %>
              <div class="prl-overlay-area o-video"></div>
            </div>
          </a>
          <div class="prl-article-entry">
            <h2 class="prl-article-title"><a href="#">Nulla ullamcorper tellus suscipit quam tincidunt</a> <span class="prl-badge prl-badge-warning">Video</span></h2>
            <div class="prl-article-meta">
              <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod, quam in faucibus feugiat, ligula urna aliquam leo, eu cursus dui nulla ut orci. Donec rhoncus ligula neque, at tincidunt odio mollis id. Nam tincidunt sed purus nec dictum.</p>
          </div>
        </article>
      </li>
      <li class="clearfix">
        <article class="prl-article">
          <a class="prl-thumbnail left" href="#">
            <div class="prl-overlay">
              <%= image_tag "p/2.jpg" ,:width=>"260" ,:alt=> "test" %>
              <div class="prl-overlay-area o-video"></div>
            </div>
          </a>
          <div class="prl-article-entry">
            <h2 class="prl-article-title"><a href="#">Pellentesque erat arcu, pulvinar vel varius blandit, pretium vel arcu</a> <span class="prl-badge prl-badge-warning">Video</span></h2>
            <div class="prl-article-meta">
              <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod, quam in faucibus feugiat, ligula urna aliquam leo, eu cursus dui nulla ut orci. Donec rhoncus ligula neque, at tincidunt odio mollis id. Nam tincidunt sed purus nec dictum.</p>
          </div>
        </article>
      </li>
      <li class="clearfix">
        <article class="prl-article">
          <a class="prl-thumbnail left" href="#">
            <div class="prl-overlay">
              <%= image_tag "p/3.jpg" ,:width=>"260" ,:alt=> "test" %>

              <div class="prl-overlay-area o-video"></div>
            </div>
          </a>
          <div class="prl-article-entry">
            <h2 class="prl-article-title"><a href="#">Lorem ipsum dolor sit amet, consectetur</a> <span class="prl-badge prl-badge-warning">Video</span></h2>
            <div class="prl-article-meta">
              <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod, quam in faucibus feugiat, ligula urna aliquam leo, eu cursus dui nulla ut orci. Donec rhoncus ligula neque, at tincidunt odio mollis id. Nam tincidunt sed purus nec dictum.</p>
          </div>
        </article>
      </li>
      <li class="clearfix">
        <article class="prl-article">
          <a class="prl-thumbnail left" href="#">
            <div class="prl-overlay">
              <%= image_tag "p/4.jpg" ,:width=>"260" ,:alt=> "test" %>
              <div class="prl-overlay-area o-video"></div>
            </div>
          </a>
          <div class="prl-article-entry">
            <h2 class="prl-article-title"><a href="#">Etiam sodales massa sem, quis vulputate lectus lobortis ac</a> <span class="prl-badge prl-badge-warning">Video</span></h2>
            <div class="prl-article-meta">
              <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod, quam in faucibus feugiat, ligula urna aliquam leo, eu cursus dui nulla ut orci. Donec rhoncus ligula neque, at tincidunt odio mollis id. Nam tincidunt sed purus nec dictum.</p>
          </div>
        </article>
      </li>
      <li class="clearfix">
        <article class="prl-article">
          <a class="prl-thumbnail left" href="#">
            <div class="prl-overlay">
              <%= image_tag "p/5.jpg" ,:width=>"260" ,:alt=> "test" %>
              <div class="prl-overlay-area o-video"></div>
            </div>
          </a>
          <div class="prl-article-entry">
            <h2 class="prl-article-title"><a href="#">Maecenas sed odio eu felis semper faucibus</a> <span class="prl-badge prl-badge-warning">Video</span></h2>
            <div class="prl-article-meta">
              <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod, quam in faucibus feugiat, ligula urna aliquam leo, eu cursus dui nulla ut orci. Donec rhoncus ligula neque, at tincidunt odio mollis id. Nam tincidunt sed purus nec dictum.</p>
          </div>
        </article>
      </li>
      <li class="clearfix">
        <article class="prl-article">
          <a class="prl-thumbnail left" href="#">
            <div class="prl-overlay">
              <%= image_tag "p/6.jpg" ,:width=>"260" ,:alt=> "test" %>
              <div class="prl-overlay-area o-video"></div>
            </div>
          </a>
          <div class="prl-article-entry">
            <h2 class="prl-article-title"><a href="#">Vestibulum facilisis orci magna</a> <span class="prl-badge prl-badge-warning">Video</span></h2>
            <div class="prl-article-meta">
              <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod, quam in faucibus feugiat, ligula urna aliquam leo, eu cursus dui nulla ut orci. Donec rhoncus ligula neque, at tincidunt odio mollis id. Nam tincidunt sed purus nec dictum.</p>
          </div>
        </article>
      </li>
      <li class="clearfix">
        <article class="prl-article">
          <a class="prl-thumbnail left" href="#">
            <div class="prl-overlay">
              <%= image_tag "p/7.jpg" ,:width=>"260" ,:alt=> "test" %>
              <div class="prl-overlay-area o-video"></div>
            </div>
          </a>
          <div class="prl-article-entry">
            <h2 class="prl-article-title"><a href="#">Aenean dictum ipsum sagittis pretium ultrices</a> <span class="prl-badge prl-badge-warning">Video</span></h2>
            <div class="prl-article-meta">
              <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod, quam in faucibus feugiat, ligula urna aliquam leo, eu cursus dui nulla ut orci. Donec rhoncus ligula neque, at tincidunt odio mollis id. Nam tincidunt sed purus nec dictum.</p>
          </div>
        </article>
      </li>
      <li class="clearfix">
        <article class="prl-article">
          <a class="prl-thumbnail left" href="#">
            <div class="prl-overlay">
              <%= image_tag "p/8.jpg" ,:width=>"260" ,:alt=> "test" %>
              <div class="prl-overlay-area o-video"></div>
            </div>
          </a>
          <div class="prl-article-entry">
            <h2 class="prl-article-title"><a href="#">Sed euismod vel turpis ac imperdiet</a> <span class="prl-badge prl-badge-warning">Video</span></h2>
            <div class="prl-article-meta">
              <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod, quam in faucibus feugiat, ligula urna aliquam leo, eu cursus dui nulla ut orci. Donec rhoncus ligula neque, at tincidunt odio mollis id. Nam tincidunt sed purus nec dictum.</p>
          </div>
        </article>
      </li>
      <li class="clearfix">
        <article class="prl-article">
          <a class="prl-thumbnail left" href="#">
            <div class="prl-overlay">
              <%= image_tag "p/9.jpg" ,:width=>"260" ,:alt=> "test" %>
              <div class="prl-overlay-area o-video"></div>
            </div>
          </a>
          <div class="prl-article-entry">
            <h2 class="prl-article-title"><a href="#">Curabitur congue odio sit amet adipiscing vehicula</a> <span class="prl-badge prl-badge-warning">Video</span></h2>
            <div class="prl-article-meta">
              <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod, quam in faucibus feugiat, ligula urna aliquam leo, eu cursus dui nulla ut orci. Donec rhoncus ligula neque, at tincidunt odio mollis id. Nam tincidunt sed purus nec dictum.</p>
          </div>
        </article>
      </li>
      <li class="clearfix">
        <article class="prl-article">
          <a class="prl-thumbnail left" href="#">
            <div class="prl-overlay">
              <%= image_tag "p/10.jpg" ,:width=>"260" ,:alt=> "test" %>
              <div class="prl-overlay-area o-video"></div>
            </div>
          </a>
          <div class="prl-article-entry">
            <h2 class="prl-article-title"><a href="#">Cras dignissim at nisl convallis accumsan</a> <span class="prl-badge prl-badge-warning">Video</span></h2>
            <div class="prl-article-meta">
              <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod, quam in faucibus feugiat, ligula urna aliquam leo, eu cursus dui nulla ut orci. Donec rhoncus ligula neque, at tincidunt odio mollis id. Nam tincidunt sed purus nec dictum.</p>
          </div>
        </article>
      </li>

    </ul>

    <div class="pagin pagin-center">
      <a href=""><i class="fa fa-angle-double-left"></i></a>
      <a href="">1</a>
      <a href="" class="active">2</a>
      <a href="">3</a>
      <a href="">4</a>
      <a href="">5</a>
      <a href=""><i class="fa fa-angle-double-right"></i></a>				</div>   
  </div>
</section>

  <%= render :partial =>'layouts/sidebar' %>
</div>