<div class="prl-grid prl-grid-divider">

<section id="main" class="prl-span-9">
<div id="sliderTab">
  <div id="mainFlexslider" class="slider_content flexslider" >
    <ul class="slides">
      <li>
        <article>
          <div class="slider_title">
            <div class="slider-post-meta"><span class="prl-post-rating">
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
		</span> <%= link_to '<i class="fa fa-comment-o"></i> 2'.html_safe,"#" %>
            </div>
            <h2><a href="#">Nulla ullamcorper tellus suscipit quam tincidunt</a></h2>
          </div>

          <a href="#"> <%= image_tag "slider/1.jpg", :alt =>"slider" %></a>
        </article>
      </li>
      <li>
        <article>
          <div class="slider_title">
            <div class="slider-post-meta"><span class="prl-post-rating">
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
		</span><%= link_to '<i class="fa fa-comment-o"></i> 4'.html_safe,"#" %>
            </div>
            <h2><a href="#">Pellentesque erat arcu, pulvinar vel varius blandit, pretium vel arcu</a></h2>
          </div>
          <a href="#"> <%= image_tag "slider/2.jpg", :alt =>"slider" %></a>
        </article>
      </li>
      <li>
        <article>
          <div class="slider_title">
            <div class="slider-post-meta"><span class="prl-post-rating">
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
		</span> <%= link_to '<i class="fa fa-comment-o"></i> 6'.html_safe,"#" %>
            </div>
            <h2><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h2>
          </div>
          <a href="#"> <%= image_tag "slider/3.jpg", :alt =>"slider" %></a>
        </article>
      </li>
      <li>
        <article>
          <div class="slider_title">
            <div class="slider-post-meta"><span class="prl-post-rating">
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
		</span> <%= link_to '<i class="fa fa-comment-o"></i> 8'.html_safe,"#" %>
            </div>
            <h2><a href="#">Etiam sodales massa sem, quis vulputate lectus lobortis ac</a></h2>
          </div>
          <a href="#"> <%= image_tag "slider/4.jpg", :alt =>"slider" %></a>
        </article>
      </li>
      <li>
        <article>
          <div class="slider_title">
            <div class="slider-post-meta"><span class="prl-post-rating">
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
		</span> <%= link_to '<i class="fa fa-comment-o"></i> 10'.html_safe,"#" %>
            </div>
            <h2><a href="#">Maecenas sed odio eu felis semper faucibus</a></h2>
          </div>
          <a href="#"> <%= image_tag "slider/5.jpg", :alt =>"slider" %></a>
        </article>
      </li>

    </ul>


    <script type="text/javascript">
        $(function(){
            $('#mainFlexslider').flexslider({
                animation: "fade",
                prevText: '<i class="fa fa-angle-left icon-large"></i>',
                nextText: '<i class="fa fa-angle-right icon-large"></i>',
                manualControls: "#main-slider-control-nav li"
            });
        });
    </script>

  </div>
  <div class="slider_tabs">
    <ul class="tabs" id="main-slider-control-nav">
      <li><div class="tab_content"><a href="#">Nulla ullamcorper tellus suscipit quam tincidunt</a></div></li>
      <li><div class="tab_content"><a href="#">Pellentesque erat arcu, pulvinar vel varius blandit, pretium vel arcu</a></div></li>
      <li><div class="tab_content"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></div></li>
      <li><div class="tab_content"><a href="#">Etiam sodales massa sem, quis vulputate lectus lobortis ac</a></div></li>
      <li><div class="tab_content"><a href="#">Maecenas sed odio eu felis semper faucibus</a></div></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>            <div class="prl-panel homepage-widget-tab">

  <ul class="prl-tab" data-prl-tab="{connect:'#content1'}">
    <li class="prl-active"><a href="">MOST RATING POSTS</a></li>
    <li>  <%= link_to "MOST VIEWED POSTS", root_path %>
    </li>
    <li>
      <%= link_to "MOST POPULAR POSTS", root_path %></li>
  </ul>


  <ul id="content1" class="prl-switcher">
    <li>

      <div class="prl-grid prl-grid-divider">
        <div class="prl-span-4">
          <article class="prl-article">
            <a class="prl-thumbnail" href="#">
					<span class="prl-overlay">
                      <%= image_tag "p/1.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>

                      <span class="prl-overlay-area o-video"></span>
					</span>
            </a>
            <h3 class="prl-article-title"><%= link_to 'Praesent lectus orci, volutpat ultrices',"#" %> <span class="prl-badge prl-badge-red">Video</span></h3>
            <div class="prl-article-meta clearfix">
  	<span class="prl-post-rating">
        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
    </span>

              <i class="fa fa-calendar-o"></i> Nov 19th, 2013

            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
          </article>
        </div>
        <div class="prl-span-4">
          <article class="prl-article">
            <a class="prl-thumbnail" href="#">
					<span class="prl-overlay">
						  <%= image_tag "p/2.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
					</span>
            </a>
            <h3 class="prl-article-title"><%= link_to 'Praesent lectus orci, volutpat ultrices',"#" %> <span class="prl-badge prl-badge-red">Video</span></h3>
            <div class="prl-article-meta clearfix">
  	<span class="prl-post-rating">
        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
    </span>

              <i class="fa fa-calendar-o"></i> Nov 19th, 2013

            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
          </article>
        </div>
        <div class="prl-span-4">
          <article class="prl-article">
            <a class="prl-thumbnail" href="#">
					<span class="prl-overlay">
						  <%= image_tag "p/3.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
					</span>
            </a>
            <h3 class="prl-article-title"><%= link_to 'Praesent lectus orci, volutpat ultrices',"#" %><span class="prl-badge prl-badge-red">Video</span></h3>
            <div class="prl-article-meta clearfix">
  	<span class="prl-post-rating">
        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
    </span>

              <i class="fa fa-calendar-o"></i> Nov 19th, 2013

            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
          </article>
        </div>

      </div></li>
    <li>

      <div class="prl-grid prl-grid-divider">
        <div class="prl-span-4">
          <article class="prl-article">
            <a class="prl-thumbnail" href="#">
					<span class="prl-overlay">
						  <%= image_tag "p/4.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
					</span>
            </a>
            <h3 class="prl-article-title"><%= link_to 'Praesent lectus orci, volutpat ultrices',"#" %> <span class="prl-badge prl-badge-red">Video</span></h3>
            <div class="prl-article-meta">
              <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
          </article>
        </div>
        <div class="prl-span-4">
          <article class="prl-article">
            <a class="prl-thumbnail" href="#">
					<span class="prl-overlay">
						  <%= image_tag "p/5.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
					</span>
            </a>
            <h3 class="prl-article-title"><%= link_to 'Praesent lectus orci, volutpat ultrices',"#" %> <span class="prl-badge prl-badge-red">Video</span></h3>
            <div class="prl-article-meta">
              <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
          </article>
        </div>
        <div class="prl-span-4">
          <article class="prl-article">
            <a class="prl-thumbnail" href="#">
					<span class="prl-overlay">
						  <%= image_tag "p/6.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
					</span>
            </a>
            <h3 class="prl-article-title"><%= link_to 'Praesent lectus orci, volutpat ultrices',"#" %> <span class="prl-badge prl-badge-red">Video</span></h3>
            <div class="prl-article-meta">
              <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
          </article>
        </div>
      </div></li>

    <li><div class="prl-grid prl-grid-divider">
      <div class="prl-span-4">
        <article class="prl-article">
          <a class="prl-thumbnail" href="#">
					<span class="prl-overlay">
						  <%= image_tag "p/7.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
					</span>
          </a>
          <h3 class="prl-article-title"><%= link_to 'Praesent lectus orci, volutpat ultrices',"#" %> <span class="prl-badge prl-badge-red">Video</span></h3>
          <div class="prl-article-meta">
            <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
        </article>
      </div>
      <div class="prl-span-4">
        <article class="prl-article">
          <a class="prl-thumbnail" href="#">
					<span class="prl-overlay">
						  <%= image_tag "p/8.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
					</span>
          </a>
          <h3 class="prl-article-title"><%= link_to 'Praesent lectus orci, volutpat ultrices',"#" %><span class="prl-badge prl-badge-red">Video</span></h3>
          <div class="prl-article-meta">
            <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
        </article>
      </div>
      <div class="prl-span-4">
        <article class="prl-article">
          <a class="prl-thumbnail" href="#">
					<span class="prl-overlay">
						  <%= image_tag "p/9.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
					</span>
          </a>
          <h3 class="prl-article-title"><%= link_to 'Praesent lectus orci, volutpat ultrices',"#" %> <span class="prl-badge prl-badge-red">Video</span></h3>
          <div class="prl-article-meta">
            <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
        </article>
      </div>
    </div></li>
  </ul>

</div>                <div class="prl-panel">
  <h5 class="prl-block-title sienna">Entertaiment <span class="prl-block-title-link right"><a href="">ALL POSTS <i class="fa fa-caret-right"></i></a></span></h5>
  <div class="prl-grid prl-grid-divider">

    <div class="prl-span-8">

      <article class="prl-article">
        <a class="prl-thumbnail" href="">
                    <span class="prl-overlay">
                          <%= image_tag "p/4.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
                    </span>
        </a>
        <h2 class="prl-article-title">
          <%= link_to "Praesent lectus orci, volutpat ultrices",""%>

          <span class="prl-badge prl-badge-cyan">Photo</span></h2>
        <div class="prl-article-meta">
          <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
      </article>
      <hr class="prl-article-divider">

      <ul class="prl-list prl-list-line prl-list-arrow">
        <li><h4><%= link_to 'This modifier may be useful for for list items with multiple lines of text.',"#" %></h4></li>
        <li><h4><%= link_to 'Lorem ipsum dolor sit amet, consectetur adipisicing elit',"#" %></h4></li>
        <li><h4><%= link_to 'Ut enim ad minim veniam, quis nostrud exercitation ullamco.',"#" %></h4></li>
        <li><h4><%= link_to 'Lorem ipsum dolor sit amet, consectetur adipisicing elit',"#" %></h4></li>
      </ul>

    </div>
    <div class="prl-span-4">

      <article class="prl-article prl-panel">
        <a class="prl-thumbnail" href="">
                    <span class="prl-overlay">
                          <%= image_tag "p/5.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
                    </span>
        </a>
        <h3 class="prl-article-title"><a href="">Praesent lectus orci, volutpat ultrices</a> <span class="prl-badge prl-badge-red">Video</span></h3>
        <div class="prl-article-meta">
          <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
      </article>

      <article class="prl-article prl-panel">
        <a class="prl-thumbnail" href="">
                    <span class="prl-overlay">
                        <%= image_tag "p/6.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
                    </span>
        </a>
        <h3 class="prl-article-title"><a href="">Praesent lectus orci, volutpat ultrices</a> <span class="prl-badge prl-badge-red">Video</span></h3>
        <div class="prl-article-meta">
          <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
      </article>
    </div>

  </div>
</div>
<div class="prl-panel">
  <h5 class="prl-block-title alizarin">Photography  <span class="prl-block-title-link right"><a href="">ALL POSTS <i class="fa fa-caret-right"></i></a></span></h5>
  <div class="prl-grid prl-grid-divider">
    <div class="prl-span-8">
      <div class="prl-grid">
        <div class="prl-span-6">
          <article class="prl-article">
            <a class="prl-thumbnail" href="#">
							<span class="prl-overlay">
								  <%= image_tag "p/2.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                              <span class="prl-overlay-area o-video"></span>
							</span>
            </a>
          </article>
        </div>
        <div class="prl-span-6">
          <article class="prl-article">
            <h3 class="prl-article-title"><a href="">Praesent lectus orci, volutpat ultrices</a> <span class="prl-badge prl-badge-cyan">Photo</span></h3>
            <div class="prl-article-meta">
              <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
          </article>
        </div>
      </div>


    </div>
    <div class="prl-span-4">
      <ul class="prl-list prl-list-line prl-list-arrow">
        <li><h4><%= link_to 'This modifier may be useful for for list items with multiple lines of text.',"#" %></h4></li>
        <li><h4><%= link_to 'Lorem ipsum dolor sit amet, consectetur adipisicing elit',"#" %></h4></li>
        <li><h4><%= link_to 'Ut enim ad minim veniam, quis nostrud exercitation ullamco.',"#" %></h4></li>
      </ul>
    </div>
  </div>
</div>                <div class="prl-panel">
  <h5 class="prl-block-title">Finance  <span class="prl-block-title-link right"><a href="">ALL POSTS <i class="fa fa-caret-right"></i></a></span></h5>
  <div class="prl-grid prl-grid-divider">
    <div class="prl-span-8">
      <div class="prl-grid">
        <div class="prl-span-6">
          <article class="prl-article">
            <a class="prl-thumbnail" href="#">
							<span class="prl-overlay">
								 <%= image_tag "p/3.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                              <span class="prl-overlay-area o-video"></span>
							</span>
            </a>
          </article>
        </div>
        <div class="prl-span-6">
          <article class="prl-article">
            <h3 class="prl-article-title"><a href="">Praesent lectus orci, volutpat ultrices</a> <span class="prl-badge prl-badge-green">Video</span></h3>
            <div class="prl-article-meta">
              <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
          </article>
        </div>
      </div>


    </div>
    <div class="prl-span-4">
      <ul class="prl-list prl-list-line prl-list-arrow">
        <li><h4><%= link_to 'This modifier may be useful for for list items with multiple lines of text.',"#" %></h4></li>
        <li><h4><%= link_to 'Lorem ipsum dolor sit amet, consectetur adipisicing elit',"#" %></h4></li>
        <li><h4><%= link_to 'Ut enim ad minim veniam, quis nostrud exercitation ullamco.',"#" %></h4></li>
      </ul>
    </div>
  </div>
</div>               <div class="prl-panel ads-default"><div class="a90">790 x 90</div></div>
<div class="prl-panel">

  <div class="prl-grid prl-grid-divider">
    <div class="prl-span-4">
      <h5 class="prl-block-title amber">MUSIC  <span class="prl-block-title-link right"><a href="">ALL POSTS <i class="fa fa-caret-right"></i></a></span></h5>
      <article class="prl-article">
        <a class="prl-thumbnail" href="#">
					<span class="prl-overlay">
						  <%= image_tag "p/1.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
					</span>
        </a>
        <h3 class="prl-article-title"><a href="">Praesent lectus orci, volutpat ultrices</a> <span class="prl-badge prl-badge-red">Video</span></h3>
        <div class="prl-article-meta">
          <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
      </article>

    </div>
    <div class="prl-span-4">
      <h5 class="prl-block-title amber">MUSIC  <span class="prl-block-title-link right"><a href="">ALL POSTS <i class="fa fa-caret-right"></i></a></span></h5>
      <article class="prl-article">
        <a class="prl-thumbnail" href="#">
					<span class="prl-overlay">
						  <%= image_tag "p/2.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
					</span>
        </a>
        <h3 class="prl-article-title"><a href="">Praesent lectus orci, volutpat ultrices</a> <span class="prl-badge prl-badge-red">Video</span></h3>
        <div class="prl-article-meta">
          <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
      </article>

    </div>
    <div class="prl-span-4">
      <h5 class="prl-block-title amber">MUSIC  <span class="prl-block-title-link right"><a href="">ALL POSTS <i class="fa fa-caret-right"></i></a></span></h5>
      <article class="prl-article">
        <a class="prl-thumbnail" href="#">
					<span class="prl-overlay">
						 <%= image_tag "p/3.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
					</span>
        </a>
        <h3 class="prl-article-title"><a href="">Praesent lectus orci, volutpat ultrices</a> <span class="prl-badge prl-badge-red">Video</span></h3>
        <div class="prl-article-meta">
          <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
      </article>

    </div>

  </div>
</div>                <div class="prl-panel">
  <h5 class="prl-block-title sienna">Entertaiment <span class="prl-block-title-link right"><a href="">ALL POSTS <i class="fa fa-caret-right"></i></a></span></h5>
  <div class="prl-grid prl-grid-divider">


    <div class="prl-span-4">

      <article class="prl-article prl-panel">
        <a class="prl-thumbnail" href="">
                    <span class="prl-overlay">
                         <%= image_tag "p/5.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
                    </span>
        </a>
        <h3 class="prl-article-title"><a href="">Praesent lectus orci, volutpat ultrices</a> <span class="prl-badge prl-badge-warning">Video</span></h3>
        <div class="prl-article-meta">
          <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
      </article>

      <article class="prl-article prl-panel">
        <a class="prl-thumbnail" href="">
                    <span class="prl-overlay">
                          <%= image_tag "p/6.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
                    </span>
        </a>
        <h3 class="prl-article-title"><a href="">Praesent lectus orci, volutpat ultrices</a> <span class="prl-badge prl-badge-warning">Video</span></h3>
        <div class="prl-article-meta">
          <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
      </article>
    </div>

    <div class="prl-span-8">

      <article class="prl-article">
        <a class="prl-thumbnail" href="">
                    <span class="prl-overlay">
                         <%= image_tag "p/4.jpg", :alt=> "Lorem ipsum dolor sit amet"   %>
                      <span class="prl-overlay-area o-video"></span>
                    </span>
        </a>
        <h2 class="prl-article-title"><a href="">Praesent lectus orci, volutpat ultrices</a> <span class="prl-badge prl-badge-warning">Video</span></h2>
        <div class="prl-article-meta">
          <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
      </article>
      <hr class="prl-article-divider">

      <ul class="prl-list prl-list-line prl-list-arrow">
        <li><h4><%= link_to 'This modifier may be useful for for list items with multiple lines of text.',"#" %></h4></li>
        <li><h4><%= link_to 'Lorem ipsum dolor sit amet, consectetur adipisicing elit',"#" %></h4></li>
        <li><h4><%= link_to 'Ut enim ad minim veniam, quis nostrud exercitation ullamco.',"#" %></h4></li>
        <li><h4><%= link_to 'Lorem ipsum dolor sit amet, consectetur adipisicing elit',"#" %></h4></li>
      </ul>

    </div>

  </div>
</div>
</section>
<%= render :partial =>'layouts/sidebar' %>
</div>