<div class="prl-grid prl-grid-divider">

<section id="main" class="prl-span-9">

<div id="slider">
  <div id="homeslider" class="fullwidth flexslider">
    <ul class="slides">
      <li>
        <article>
          <a href="#"><%= image_tag "slider_simple/1.jpg", :alt=>"test" %></a>
          <div class="slider-title"><h2><a href="#">Sed sapien tellus, suscipit nec nunc eu</a> <span class="prl-badge prl-badge-success">Dicussion</span></h2></div>
          <div class="slider-meta"><span>Nov 23th, 2013</span> <i class="fa fa-comment-o"></i> <span class="cm">04</span></div>
        </article>

      </li>
      <li>
        <article>
          <a href="#"><%= image_tag "slider_simple/2.jpg" , :alt=>"test" %></a>
          <div class="slider-title"><h2><a href="#">Praesent lectus orci, volutpat ultrices</a> <span class="prl-badge prl-badge-success">Dicussion</span></h2></div>
          <div class="slider-meta"><span>Nov 23th, 2013</span> <i class="fa fa-comment-o"></i> <span class="cm">04</span></div>
        </article>

      </li>
      <li>
        <article>
          <a href="#"><%= image_tag "slider_simple/3.jpg" , :alt=>"test" %></a>
          <div class="slider-title"><h2><a href="#">Donec facilisis diam enim, in blandit lacus pellentesque sed</a> <span class="prl-badge prl-badge-success">Dicussion</span></h2></div>
          <div class="slider-meta"><span>Nov 23th, 2013</span> <i class="fa fa-comment-o"></i> <span class="cm">04</span></div>
        </article>

      </li>
      <li>
        <article>
          <a href="#"><%= image_tag "slider_simple/4.jpg", :alt=>"test" %></a>
          <div class="slider-title"><h2><a href="#">Aliquam id tellus dolor. Cras in turpis tincidunt</a> <span class="prl-badge prl-badge-success">Dicussion</span></h2></div>
          <div class="slider-meta"><span>Nov 23th, 2013</span> <i class="fa fa-comment-o"></i> <span class="cm">04</span></div>
        </article>

      </li>
    </ul>
  </div>
</div><!-- #slider -->

<script type="text/javascript">
    jQuery(function ($) {
        $('#homeslider').flexslider({
            autoPlay: true,
            pauseOnAction: false,
            animation: "fade",
            prevText: '<i class="fa fa-angle-left icon-large"></i>',
            nextText: '<i class="fa fa-angle-right icon-large"></i>'
        });
    });
</script>				<h5 class="prl-block-title">Articles in Masonry</h5>

<div class="masonry-container">
  <div class="masonry-item">
    <article class="prl-article">
      <a class="prl-thumbnail" href="">
								<span class="prl-overlay">
									 <%= image_tag "mason/1.jpg", :alt=>"test" %>
									<span class="prl-overlay-area o-video"></span>
								</span>
      </a>
      <h3 class="prl-article-title"><a href="#">Nulla ullamcorper tellus suscipit quam tincidunt</a></h3>
      <div class="prl-article-meta">
        <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
    </article>

  </div><!-- .masonry-item -->
  <div class="masonry-item">
    <article class="prl-article">
      <a class="prl-thumbnail" href="">
								<span class="prl-overlay">
									 <%= image_tag "mason/2.jpg" , :alt=>"test" %>
									<span class="prl-overlay-area o-video"></span>
								</span>
      </a>
      <h3 class="prl-article-title"><a href="#">Pellentesque erat arcu, pulvinar vel varius blandit, pretium vel arcu</a></h3>
      <div class="prl-article-meta">
        <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
    </article>

  </div><!-- .masonry-item -->
  <div class="masonry-item">
    <article class="prl-article">
      <a class="prl-thumbnail" href="">
								<span class="prl-overlay">
									 <%= image_tag "mason/3.jpg" , :alt=>"test" %>
									<span class="prl-overlay-area o-video"></span>
								</span>
      </a>
      <h3 class="prl-article-title"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h3>
      <div class="prl-article-meta">
        <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
    </article>

  </div><!-- .masonry-item -->
  <div class="masonry-item">
    <article class="prl-article">
      <a class="prl-thumbnail" href="">
								<span class="prl-overlay">
									 <%= image_tag "mason/4.jpg" , :alt=>"test" %>
									<span class="prl-overlay-area o-video"></span>
								</span>
      </a>
      <h3 class="prl-article-title"><a href="#">Etiam sodales massa sem, quis vulputate lectus lobortis ac</a></h3>
      <div class="prl-article-meta">
        <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
    </article>

  </div><!-- .masonry-item -->
  <div class="masonry-item">
    <article class="prl-article">
      <a class="prl-thumbnail" href="">
								<span class="prl-overlay">
									 <%= image_tag "mason/5.jpg" , :alt=>"test" %>
									<span class="prl-overlay-area o-video"></span>
								</span>
      </a>
      <h3 class="prl-article-title"><a href="#">Maecenas sed odio eu felis semper faucibus</a></h3>
      <div class="prl-article-meta">
        <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
    </article>

  </div><!-- .masonry-item -->
  <div class="masonry-item">
    <article class="prl-article">
      <a class="prl-thumbnail" href="">
								<span class="prl-overlay">
									 <%= image_tag "mason/6.jpg" , :alt=>"test" %>
									<span class="prl-overlay-area o-video"></span>
								</span>
      </a>
      <h3 class="prl-article-title"><a href="#">Vestibulum facilisis orci magna</a></h3>
      <div class="prl-article-meta">
        <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
    </article>

  </div><!-- .masonry-item -->
  <div class="masonry-item">
    <article class="prl-article">
      <a class="prl-thumbnail" href="">
								<span class="prl-overlay">
									 <%= image_tag "mason/7.jpg" , :alt=>"test" %>
									<span class="prl-overlay-area o-video"></span>
								</span>
      </a>
      <h3 class="prl-article-title"><a href="#">Aenean dictum ipsum sagittis pretium ultrices</a></h3>
      <div class="prl-article-meta">
        <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
    </article>

  </div><!-- .masonry-item -->
  <div class="masonry-item">
    <article class="prl-article">
      <a class="prl-thumbnail" href="">
								<span class="prl-overlay">
									 <%= image_tag "mason/8.jpg" , :alt=>"test" %>
									<span class="prl-overlay-area o-video"></span>
								</span>
      </a>
      <h3 class="prl-article-title"><a href="#">Sed euismod vel turpis ac imperdiet</a></h3>
      <div class="prl-article-meta">
        <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
    </article>

  </div><!-- .masonry-item -->
  <div class="masonry-item">
    <article class="prl-article">
      <a class="prl-thumbnail" href="">
								<span class="prl-overlay">
									 <%= image_tag "mason/9.jpg" , :alt=>"test" %>
									<span class="prl-overlay-area o-video"></span>
								</span>
      </a>
      <h3 class="prl-article-title"><a href="#">Curabitur congue odio sit amet adipiscing vehicula</a></h3>
      <div class="prl-article-meta">
        <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
    </article>

  </div><!-- .masonry-item -->
  <div class="masonry-item">
    <article class="prl-article">
      <a class="prl-thumbnail" href="">
								<span class="prl-overlay">
									 <%= image_tag "mason/10.jpg", :alt=>"test" %>
									<span class="prl-overlay-area o-video"></span>
								</span>
      </a>
      <h3 class="prl-article-title"><a href="#">Cras dignissim at nisl convallis accumsan</a></h3>
      <div class="prl-article-meta">
        <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
    </article>

  </div><!-- .masonry-item -->
  <div class="masonry-item">
    <article class="prl-article">
      <a class="prl-thumbnail" href="">
								<span class="prl-overlay">
									 <%= image_tag "mason/11.jpg" , :alt=>"test" %>
									<span class="prl-overlay-area o-video"></span>
								</span>
      </a>
      <h3 class="prl-article-title"><a href="#">Cras dignissim at nisl convallis accumsan</a></h3>
      <div class="prl-article-meta">
        <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
    </article>

  </div><!-- .masonry-item -->
  <div class="masonry-item">
    <article class="prl-article">
      <a class="prl-thumbnail" href="">
								<span class="prl-overlay">
									 <%= image_tag "mason/12.jpg" , :alt=>"test" %>
									<span class="prl-overlay-area o-video"></span>
								</span>
      </a>
      <h3 class="prl-article-title"><a href="#">Cras dignissim at nisl convallis accumsan</a></h3>
      <div class="prl-article-meta">
        <i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;<i class="fa fa-comment-o"></i> 23
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus orci, volutpat ultrices porta ac, ultricies eget sem.</p>
    </article>

  </div><!-- .masonry-item -->



</div><!-- .container -->
<div class="pagin pagin-center">
  <a href=""><i class="fa fa-angle-double-left"></i></a>
  <a href="">1</a>
  <a href="" class="active">2</a>
  <a href="">3</a>
  <a href="">4</a>
  <a href="">5</a>
  <a href=""><i class="fa fa-angle-double-right"></i></a>				</div>
<script>

    jQuery(function($){


        var $container = $('.masonry-container');

        var gutter = 25;
        var min_width = 300;
        $container.imagesLoaded( function(){
            $container.masonry({
                itemSelector : '.masonry-item',
                gutterWidth: gutter,
                isAnimated: true,
                columnWidth: function( containerWidth ) {
                    var box_width = (((containerWidth - 2*gutter)/3) | 0) ;

                    if (box_width < min_width) {
                        box_width = (((containerWidth - gutter)/2) | 0);
                    }

                    if (box_width < min_width) {
                        box_width = containerWidth;
                    }

                    $('.masonry-item').width(box_width);

                    return box_width;
                }
            });
        });
    });

</script>

</section>

<%= render :partial =>'layouts/sidebar' %>

</div>